body{
    font-family: Thinking_of_Betty, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h2{
    text-align: center;
    background-color: rgba(255, 166, 211, 0.836); 
    padding: 2%;
}

.hero{
    background-image: url(/Projeto/assets/img/fundo4.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 64px;
    text-shadow: 10px 4px 4px rgb(143, 99, 194);
}

.hero-content p{
    background-color: rgba(73, 38, 80, 0.8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}

.hero nav ul{
    text-align: right;
    margin: 20px 50px 0 0;
}

.hero nav li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    border: white solid 1px;
}

.hero nav a{
    background-color: rgba(0,0,0, 0.3);
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover{
    background: rgba(0,0,0, 0.5);
}

main{
    width: 80%;
    margin: auto;
}


.content-section{
    padding: 10px;
    overflow: auto;
    margin: auto; 
    text-align: justify; 
    padding: 2%;

}

.content-section2{
    padding: 10px;
    overflow: auto;
    margin: auto; 
    text-align: justify; 
    padding: 2%;

}
.content-section p{
    border-bottom: 2px solid rgb(220, 57, 235);  
    margin: 0 2% 0 2%;
    text-align: center;
    font-weight: bold;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
 }  

.card{
    width: 32%;
    float:left;
    box-sizing: border-box;

}
.card-1{
    margin-right: 2%;
}
    
.card-3{
    margin-left: 2%;
}

.card img{
    width: 100%;
}

.card p{
    margin: 0;
}

.p-30 {
    padding: 30px;
 }
 
 .br-50 {
    border-radius: 50%;
 }
 
 .wh-300{
    width: 300px;
    height: 300px;
 
 }

.icons{
    display: flex; 
    justify-content: center;
    display: inline-block;
}
footer{
    background-color: #896AA3;
    text-align: center;
    text-shadow: 2px black;
    height: 80px;
    font-size: 14px;
    border-bottom: 2px solid rgb(71, 71, 71);  
}